<robot name="cylinder">
    <link name="cylinder_link">
        <visual>
            <geometry>
                <cylinder radius="0.025" length="0.1"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.025" length="0.1"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
        </inertial>

        <!-- Add the plugin here -->
        <gazebo>
            <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
                <update_rate>50.0</update_rate>
                <body_name>cylinder_link</body_name>
                <frameName>cylinder_link</frameName>
                <yaw_offset>0.0</yaw_offset>
                <publish_tf>true</publish_tf>        <!-- Add this -->
                <pitch_offset>0.0</pitch_offset>
                <roll_offset>0.0</roll_offset>
                <xyz_offset>0 0 0</xyz_offset>
                <use_tf_static>False</use_tf_static>
                <odomTopic>odom</odomTopic>
                <robotNamespace>/gazebo_p3d</robotNamespace>
                <always_on>true</always_on>
            </plugin>
        </gazebo>
    </link>
    

    <gazebo reference="cylinder_link">
        <visual>
            <material>
                <ambient>1 0 0 1</ambient>
                <diffuse>1 0 0 1</diffuse>
                <specular>0.1 0.1 0.1 1</specular>
                <emissive>0 0 0 0</emissive>
            </material>
        </visual>
    </gazebo>
</robot>
